@font-face {
   font-family: '._Hero-Bold';
   font-display: swap;
   src: url('file:///C:/Users/mayet/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-10-04_111449/fonts/._Hero-Bold/font.ttf');
}
